<div id="preloader">
	<div id="loader"></div>
</div>


<!-- Java Script
================================================== -->
<script src="/hola-master/js/jquery-3.2.1.min.js"></script>
<script src="/hola-master/js/plugins.js"></script>
<script src="/hola-master/js/main.js"></script>