<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="/admin/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Akın CENGİZ
						<span class="user-level">Administrator</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Profil Düzenle</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/">
					<i class="la la-home"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/About/">
					<i class="la la-male"></i>
					<p>Hakkımda</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Experience/ExperienceList/">
					<i class="la la-linkedin"></i>
					<p>Deneyimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="tables.html">
					<i class="la la-th"></i>
					<p>Öne Çıkan Alan</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact/Contact/">
					<i class="la la-phone"></i>
					<p>İletişim Bilgileri</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="typography.html">
					<i class="la la-folder-open-o"></i>
					<p>Portfolyo</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-magic"></i>
					<p>Yeteneklerim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-thumbs-o-up"></i>
					<p>Referanslarım</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-users"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-envelope"></i>
					<p>Gelen Kutusu</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-bar-chart"></i>
					<p>İstatistikler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-sign-out"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>