@using MVCPortfolioFree.DataAccess.Entities
@model List<Skill>
<div class="col-six tab-full right">
	<h3>Programlama Dilleri & Teknolojiler</h3>

	<ul class="skill-bars">
		@foreach (var skill in Model)
		{
			<li>
				<div class="progress percent@(@skill.Grade)"><span>@skill.Grade%</span></div>
				<strong>@skill.Title</strong>
			</li>
		}
	</ul>
</div>